# ─── Security ────────────────────────────────────────────────
SECRET_KEY=
JWT_ACCESS_EXPIRE_MINUTES=60
JWT_REFRESH_EXPIRE_DAYS=30

# ─── Auth DB ─────────────────────────────────────────────────
AUTH_POSTGRES_DB=auth_db
AUTH_POSTGRES_USER=auth_user
AUTH_POSTGRES_PASSWORD=

# ─── User DB ─────────────────────────────────────────────────
USER_POSTGRES_DB=user_db
USER_POSTGRES_USER=user_user
USER_POSTGRES_PASSWORD=

# ─── Chat DB ─────────────────────────────────────────────────
CHAT_POSTGRES_DB=chat_db
CHAT_POSTGRES_USER=chat_user
CHAT_POSTGRES_PASSWORD=

# ─── MinIO ───────────────────────────────────────────────────
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=wavechat-media
MINIO_PUBLIC_BASE=http://localhost/minio

# ─── Email ───────────────────────────────────────────────────
EMAIL_HOST=localhost
EMAIL_PORT=1025
